# Environment
.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Data & Database
vectorstore/
data/
# data/documentos/ # Descomentar para ignorar solo los documentos pero mantener la carpeta data

# IDE
.vscode/
.idea/
